@use "tokens.web" as tokens;
@use "mixins/layout";
@use "mixins/media";
@use "mixins/theme";
@use "mixins/typography";

.sbt-search {
	&__inner {
		@include layout.container;
	}
	&__header {
		padding-top: tokens.$grid-gutter * 0.5;
		padding-bottom: tokens.$grid-gutter * 0.5;
		margin-bottom: tokens.$grid-gutter * 0.5;
		color: var(--theme-accent);
		background-color: var(--theme-accent-mod);
	}
	&__heading {
		@include typography.all-caps;
		line-height: tokens.$lead-solid;
	}
	&__form {
	}
	&__body {
	}
}
