<div class="sb-grid">
	<div class="sb-grid-row">
		<div class="sb-grid-column-full">
			<p class="kim-body">This is a float-based grid system for quickly building responsibe pages on-the-fly. Specific pages may utilise their own bespoke grids, this is kinda just the 'catch all' for everything else.</p>
		</div>
	</div>
	<div class="sb-grid-row">
		<div class="sb-grid-column-full">full</div>
	</div>
	<div class="sb-grid-row">
		<div class="sb-grid-column-one-half">one-half</div>
		<div class="sb-grid-column-one-half">one-half</div>
	</div>
	<div class="sb-grid-row">
		<div class="sb-grid-column-two-thirds">two-thirds</div>
		<div class="sb-grid-column-one-third">one-third</div>
	</div>
	<div class="sb-grid-row">
		<div class="sb-grid-column-one-third">one-third</div>
		<div class="sb-grid-column-one-third">one-third</div>
		<div class="sb-grid-column-one-third">one-third</div>
	</div>
	<div class="sb-grid-row">
		<div class="sb-grid-column-one-quarter">one-quarter</div>
		<div class="sb-grid-column-one-quarter">one-quarter</div>
		<div class="sb-grid-column-one-quarter">one-quarter</div>
		<div class="sb-grid-column-one-quarter">one-quarter</div>
	</div>
	<div class="sb-grid-row">
		<div class="sb-grid-column-one-half large:sb-grid-column-one-quarter">one-half large:one-quarter</div>
		<div class="sb-grid-column-one-half large:sb-grid-column-one-quarter">one-half large:one-quarter</div>
		<div class="sb-grid-column-one-half large:sb-grid-column-one-quarter">one-half large:one-quarter</div>
		<div class="sb-grid-column-one-half large:sb-grid-column-one-quarter">one-half large:one-quarter</div>
	</div>
</div>

<style>
[class="sb-grid-row"] { margin-block-end: 1.5rem; }
[class^="sb-grid-column-"] { border: 1px solid red; }
</style>