<p class="sb-body">This is a link. It's pretty plain, but it does the job. It has a visited style, which de-emphasises it if the user has already been to that page before, making wayfinding a little easier. Useful for prose.</p>
<p class="sb-body">This style is also used for 'unstyled' (classless) links.</p>
<p class="sb-body"><a class="sb-link" href="http://example.org">This is a link!</a></p>

<p class="sb-body">This link does not have a visited state, it's useful for links on the UI where a user is likely to visit a page a lot.</p>
<p class="sb-body"><a class="sb-link-no-visited" href="#">You can never visit me</a></p>

<p class="sb-body">This link doesn't have a visited state, nor even a default underline. It's best suited to small, discrete UI links, like a privacy policy in a footer.</p>
<p class="sb-body-s"><a class="sb-link-no-underline" href="http://example.org">I'm a little baby link</a></p>