<div>
	<span class="sb-subheading-xl">Extra large subheading</span>
	<h1 class="sb-heading-xl">
		Extra large heading
	</h1>
</div>


<div>
	<span class="sb-subheading-l">Large subheading</span>
	<h2 class="sb-heading-l">
		Large heading
	</h2>
</div>


<div>
	<span class="sb-subheading-m">Medium subheading</span>
	<h3 class="sb-heading-m">
		Medium heading
	</h3>
</div>


<div>
	<h4 class="sb-heading-s">
		Small heading
	</h4>
</div>

<p class="sb-body-l">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas natus soluta consectetur possimus culpa nobis sunt provident sint voluptatum, nulla, dolores commodi quaerat voluptate eius voluptatem! Illo nisi odio ipsa.</p>

<p class="sb-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas natus soluta consectetur possimus culpa nobis sunt provident sint voluptatum, nulla, dolores commodi quaerat voluptate eius voluptatem! Illo nisi odio ipsa.</p>

<p class="sb-body-s">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas natus soluta consectetur possimus culpa nobis sunt provident sint voluptatum, nulla, dolores commodi quaerat voluptate eius voluptatem! Illo nisi odio ipsa.</p>