@use "tokens.web" as tokens;
@use "mixins/typography";

.sb-image {
	$self: &;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 0;
	&__image {
		width: 100%;
		#{$self}:not(#{$self}--cover) & {
			height: auto;
		}
	}
	&__attribution {
		@include typography.all-caps;
		display: inline-block;
		padding: 0.2em 0.4em;
		position: absolute;
		right: 0;
		bottom: 0;
		color: tokens.$color-white;
		background-color: rgba(tokens.$color-black, tokens.$color-opacity-tertiary);
		font-size: tokens.$size-small;
		font-weight: 400;
		line-height: tokens.$lead-solid;
	}
	&__attribution-source {
		color: currentColor;
		text-decoration: none;
	}
	&--cover {
		#{$self}__image {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
