@use "settings";
@use "helpers/typography";

.sb-image {
	$self: &;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 0;
	&__image {
		inline-size: 100%;
		#{$self}:not(#{$self}--cover) & {
			block-size: auto;
		}
	}
	&__attribution {
		@include typography.sb-font-size(small-print);
		display: inline-block;
		padding: 0.2em 0.4em;
		position: absolute;
		inset-block-end: 0;
		inset-inline-end: 0;
		color: white;
		background-color: rgba(black, 0.8);
		font-weight: 400;
		line-height: 1;
	}
	&__attribution-source {
		color: currentColor;
		text-decoration: none;
	}
	&--cover {
		#{$self}__image {
			block-size: 100%;
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			object-fit: cover;
		}
	}
}
