@use "tokens.web" as *;
@use "mixins/a11y";
@use "mixins/helpers";
@use "mixins/theme";
@use "mixins/typography";
@use "mixins/media";

.sb-banner {
	$self: &;
	&__inner {
		//@include layout.container($withPadding: false);
		//display: flex;
		@include media.mq(20em) {
			display: flex;
			align-items: flex-end;
		}
	}
	&__body {
		margin-right: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-size: $size-small;
		line-height: $lead-default;
	}
	&__dismiss {
		@include helpers.button-reset;
		flex-shrink: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		//margin-right: $layout-grid-gutter / 2;
		margin-left: auto;
		font-size: 1.125rem;
		opacity: $color-opacity-tertiary;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		&:focus {
			@include a11y.focus-ring;
		}
	}
	&__dismiss-label {
		@include typography.all-caps;
		font-size: $size-small;
		margin-right: 0.125em;
		font-weight: 500;
	}
	&--info {
	}
	&--highlight {
	}
}
