@use "settings";
@use "helpers/colors";
@use "helpers/layout";
@use "helpers/links";
@use "helpers/reset";
@use "helpers/spacing";
@use "helpers/media-queries";

@use "sass:color";

.sb-banner {
	$self: &;
	@include spacing.sb-responsive-padding(1, $direction: block);
	color: colors.sb-color(text-emphasised);
	background-color: colors.sb-color(banner-background);
	border-block-end: settings.$sb-hr-width solid colors.sb-color(brand-primary);
	&__inner {
		@include layout.sb-width-container;
		@include spacing.sb-responsive-padding(2, $direction: block);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include media-queries.sb-mq($from: medium) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
	&__body {
		@include spacing.sb-responsive-padding(2, $direction: inline-end);
	}
	&__dismiss {
		@include reset.sb-reset-button;
		@include links.sb-link-cta($visited-style: false);
	}
}
