{% from "components::banner/macro.twig" import sbBanner %}

{{ sbBanner({
	id: 'ExampleBanner1',
	html: '<p>Standard banner. We do stuff with cookies and things. Read our <a href="#">cookie policy</a> about it.</p>'
}) }}

{{ sbBanner({
	dismissable: true,
	id: 'ExampleBanner2',
	html: '<p>Dismissable banner. We do stuff with cookies and things. Read our <a href="#">cookie policy</a> about it.</p>'
}) }}