@use "settings";
@use "helpers/a11y";
@use "helpers/colors";
@use "helpers/spacing";
@use "helpers/typography";

.sb-skiplink {
	@include spacing.sb-responsive-padding(2);
	display: block;
	position: absolute;
	inset-block-start: -9999rem;
	inset-inline-start: -9999rem;
	color: colors.sb-color(focus-text);
	background-color: colors.sb-color(focus-background);
	text-align: center;
	&:focus {
		@include a11y.sb-focus-ring;
		position: static;
	}
}
