<form role="search" method="get" action="/">
	<label for="{{ id }}">
		Search
	</label>
	<input type="search" name="s" id="{{ id }}" value="{{ search_query }}">
	<button type="submit">Go</button>
</form>