@use "tokens.web" as tokens;
@use "mixins/media";

.sb-grid {
	display: grid;
	grid-gap: tokens.$grid-gutter;
	grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	&--meets {
		grid-template-columns: 1fr;
		align-items: start;
		@include media.mq(60em) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
