{% from "@components/grid/macro.twig" import sbGrid %}

{% set gridContent %}
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea dolores veniam corrupti rem at doloribus esse dicta accusantium minus culpa animi molestias laborum, distinctio sunt iste, omnis debitis consectetur.</div>
	<div>Itaque accusantium eius vero voluptas! Beatae laudantium esse earum suscipit odio, dicta omnis sapiente exercitationem veniam perferendis facilis corporis, sunt commodi sed explicabo ab reiciendis laboriosam dolor minima aliquid? Debitis.</div>
	<div>Enim, nam, sint! Nihil ducimus quod modi nulla, expedita cumque aliquid quis doloremque earum quae asperiores quia molestias minima, provident vero quos neque necessitatibus? Reiciendis deleniti repudiandae facere, ipsa animi.</div>
	<div>In ad vero magni, nam nobis illum praesentium eveniet odit, at consequatur delectus eligendi necessitatibus nihil. Incidunt placeat modi illum, repellendus ab consequuntur vitae quidem minima, eaque ratione autem magnam!</div>
	<div>Reprehenderit autem commodi in atque doloremque earum delectus laboriosam eaque laudantium natus fugit et, corporis, ipsam, quas explicabo repellat a dolor beatae sed, culpa. Accusantium, voluptatibus quasi quibusdam fuga nam.</div>
	<div>Sapiente voluptates consequatur eveniet provident, eum nobis distinctio magnam dicta enim ad dolorem laboriosam maxime, aliquam recusandae quam assumenda amet facilis accusantium. Commodi ipsam, ratione odio suscipit ipsum doloremque, nobis.</div>
	<div>Incidunt cum harum esse, velit saepe fuga neque similique alias a ipsam asperiores officia molestiae voluptates ipsum, sequi, minima animi! Vero error, non, quisquam modi quod voluptate soluta aspernatur similique!</div>
	<div>Libero illo omnis, nihil dolor quas vel eveniet labore porro. Culpa quo cumque placeat dolorem repudiandae, excepturi ut mollitia eos! Aspernatur aliquid omnis, tempore. Labore deleniti ipsum at officia, quisquam.</div>
	<div>Libero laudantium saepe maxime repellendus sint perferendis aperiam natus ratione doloremque inventore nobis perspiciatis cum necessitatibus repellat, amet molestiae animi excepturi laboriosam quia odio laborum doloribus praesentium sed voluptatibus dolore.</div>
{% endset %}

{{ sbGrid({
    html: gridContent
}) }}
