{% from "@components/card/macro.twig" import sbCard %}

{{ sbCard({
    image: {
	    alt: 'An image',
	    src: '//placeponi.es/300/150',
		width: 300,
		height: 150
	},
	href: '#',
	title: 'Check out this thing',
	content: "<p>It's a pretty cool thing. Duis qui reprehenderit incididunt amet veniam reprehenderit nulla in mollit enim nulla exercitation ea. Reprehenderit ullamco fugiat do cillum minim veniam dolore eu. Velit veniam et est eiusmod incididunt culpa aute laboris mollit ipsum.</p>"
}) }}
