@use "tokens.web" as tokens;
@use "mixins/media";
@use "mixins/theme";

.sb-links-group {
	margin-top: 2rem;
	margin-bottom: 2rem;
	&__header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 2rem;
		position: relative;
		&::after {
			@include theme.shade($direction: horizontal);
			content: "";
			display: block;
			width: 100%;
			height: 1rem;
			position: absolute;
			top: 100%;
			left: 0;
		}
		@include media.mq(30em) {
			flex-direction: row;
			align-items: flex-end;
		}
	}
	&__heading {
		padding: 0.5rem 1rem;
		color: var(--theme-accent);
		background-color: var(--theme-accent-mod);
	}
	&__icon {
		flex-grow: 0;
		flex-shrink: 0;
		order: -1;
		width: 20%;
		max-width: 150px;
	}
	&__description {
	}
	&__links {
		padding: 0;
		column-width: 8em;
		column-gap: tokens.$grid-gutter;
		list-style-type: none;
	}
	&__item {
		padding-bottom: 0.5em;
		page-break-inside: avoid;
		break-inside: avoid;
	}
}
