@use "settings";
@use "helpers/colors";
@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/theme";

.sb-links-group {
	@include spacing.sb-responsive-margin(9, $direction: block-end);
	&__header {
		@include spacing.sb-responsive-margin(3, $direction: block-end);
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		position: relative;
		&::after {
			@include theme.sb-shade(
				$color: colors.sb-color(shade-subtle),
				$direction: horizontal
			);
			content: "";
			display: block;
			block-size: settings.$sb-hr-width;
			inline-size: 100%;
			position: absolute;
			inset-block-start: 100%;
			inset-inline-start: 0;
		}
	}
	&__heading {
		@include spacing.sb-responsive-padding(2, $direction: block);
		@include spacing.sb-responsive-padding(3, $direction: inline);
		color: colors.sb-color(text-emphasised);
	}
	&__icon {
		flex-grow: 0;
		flex-shrink: 0;
		order: -1;
		inline-size: 20%;
		max-inline-size: 8rem;
	}
	&__description {
	}
	&__links {
		padding: 0;
		column-width: 8em;
		column-gap: settings.$sb-gutter;
		list-style-type: none;
	}
	&__item {
		@include spacing.sb-responsive-padding(2, $direction: block-end);
		page-break-inside: avoid;
		break-inside: avoid;
	}
}
