@use "tokens.web" as *;
@use "sass:string";
@use "mixins/media";
@use "mixins/theme";

@forward "utilities";

/**
 * Global styles
 */

html {
	color: $color-off-black;
	background-color: $color-white;
	font-family: $font-body;
	line-height: $lead-default;
}

body {
	@include media.mq(40rem) {
		font-size: 112.5%;
	}
}

a:not([class]) {
	@include theme.default-link($color-primary, $color-primary-light);
}
