@use "mixins/layout";
@use "mixins/forms";

.sb-checkbox {
	$self: &;
	$checkboxSize: 1em;
	$leftPadding: 1.75em;
	@include layout.clearfix;
	margin: 0;
	padding: 0;
	border: 0;
	> legend {
		margin-bottom: 0.25em;
	}
	&__item {
		padding-left: $leftPadding;
		position: relative;
		& + & {
			margin-top: 0.25em;
		}
	}
	&__input {
		@include forms.checkbox(
			$size: $checkboxSize,
			$checkRatio: 0.6,
			$strokeWidth: 0.125em,
			$verticalOffset: 0.1em
		);
		margin-left: 0 - $leftPadding;
		float: left;
		clear: left;
	}
	&__label {
	}
}
