@use "a11y";
@use "color";

@mixin sb-link($visited-style: true, $underline: true) {
	color: color.sb-color(link);
	@if $underline {
		text-decoration: underline;
		text-decoration-color: currentColor;
		text-decoration-style: solid;
		text-decoration-thickness: 2px;
		text-underline-offset: 0.1em;
		&:focus,
		&:hover,
		&:active {
			text-decoration-color: color.sb-color(accent);
		}
	} @else {
		text-decoration: none;
	}
	@if $visited-style {
		&:visited {
			color: color.sb-color(text);
		}
	}
	&:focus {
		@include a11y.sb-focus-ring;
	}
}
