@use "../settings";

@use "sass:map";

// Media query helper
@mixin sb-mq($from: null, $to: null, $and: null) {
	$map: settings.$sb-breakpoints;
	$query: "";
	@if $from and not map.has-key($map, $from) {
		@warn "From breakpoint `#{$from}` could not be found - expected a key from the `$sb-breakpoints` map.";
	} @else {
		@if map.has-key($map, $from) {
			$query: "#{$query} (min-width: #{map.get($map, $from)})";
		}
	}

	@if $to and not map.has-key($map, $to) {
		@warn "To breakpoint `#{$to}` could not be found - expected a key from the `$sb-breakpoints` map.";
	} @else {
		@if map.has-key($map, $to) {
			@if $from and map.has-key($map, $from) {
				$query: "#{$query} and";
			}
			$query: "#{$query} (max-width: #{map.get($map, $to) - 1px})";
		}
	}

	@if $and {
		$query: "#{$query} #{$and}";
	}

	@if $query != "" {
		@media screen and #{$query} {
			@content;
		}
	}
}

// Print media query
@mixin sb-print {
	@media print {
		@content;
	}
}
