@use "../settings";
@use "a11y";
@use "layout";
@use "typography";

@mixin sb-reset-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@mixin sb-reset-button {
	@include typography.sb-typography-common;
	padding: 0;
	border: none;
	border-radius: 0;
	color: inherit;
	background: none;
	font: inherit;
	&:not([disabled]) {
		cursor: pointer;
	}
	&:focus {
		@include a11y.sb-focus-ring;
	}
}

@mixin sb-reset-fieldset {
	@include layout.sb-clearfix;
	min-width: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

@mixin sb-reset-details-arrow {
	> summary {
		list-style-type: none;
	}
	> summary::-webkit-details-marker {
		display: none;
	}
}
