@use "settings";
@use "helpers/colors";
@use "helpers/spacing";

.sb-archive-navigation {
	&__heading {
		@include spacing.sb-responsive-margin(4, $direction: block-end);
		text-align: center;
	}
	&__list {
		column-width: 12em;
		gap: settings.$sb-gutter;
	}
	&__link {
		$pre-pad: 2em;
		$dash-size: $pre-pad * 0.75;
		$dash-stroke: settings.$sb-form-element-border;
		padding-inline-start: $pre-pad;
		position: relative;
		text-decoration: none;
		&::before {
			width: $dash-size;
			border-block-end: $dash-stroke solid colors.sb-color(link);
			position: absolute;
			inset-inline-start: 0;
			inset-block-start: calc(50% - #{$dash-stroke * 0.5});
		}
		&[aria-current]::before {
			content: "";
		}
	}
}
