@use "tokens.web" as tokens;
@use "mixins/helpers";
@use "mixins/theme";

.sb-archive-navigation {
	&__heading {
		margin-bottom: 1em;
	}
	&__list {
		@include helpers.list-reset;
		column-width: 12em;
		column-gap: tokens.$grid-gutter;
	}
	&__item {
	}
	&__link {
		$arrowSize: 0.76em;
		$arrowSpacing: 0.5em;
		$leftPadding: $arrowSize + $arrowSpacing;
		display: inline-flex;
		align-items: center;
		padding-left: $leftPadding;
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&[aria-current] {
			font-weight: 700;
			&::before {
				@include theme.triangle($size: $arrowSize, $color: var(--theme-accent));
				content: "";
				margin-right: $arrowSpacing;
				margin-left: 0 - $leftPadding;
				float: left;
				clear: left;
			}
		}
	}
}
