{% extends "_layout.twig" %}

{% from "@components/prose/macro.twig" import sbProse %}
{% from "@components/organiser/macro.twig" import sbOrganiser %}

{% block main %}
<article class="sbt-about">
	<header class="sbt-about__header">
		<h1 class="sbt-about__heading">
			The Severn Bronies
			<em>in a nutshell</em>
		</h1>
	</header>
	{{ sbProse({ html: "<p>Hello there, <strong>we are the Severn Bronies</strong>. We hold social events for the <em>My Little Pony</em> fandom (aka, bronies) in south west England and south Wales.</p>
	<p>We started all the way back in the Summer of 2012 as the <strong>Bristol Bronies</strong>, joined forces with our neighbours the <strong>Cardiff Bronies</strong> in 2016, and have kept expanding from there.</p>
	<p>Since then, we have held some kind of event nearly <strong>every single week</strong>. Not even a pandemic could stop us spending time together—in a virtual, physically separated manner, of course.</p>
	<p><strong>We've gotten around a little.</strong> You may have spied us as the bronies everypony should know in the <a>Bristol Post</a>, <a>Radio 2</a>, or <a>Inside Out</a> (amongst others) before.</p>
	<p>We're a tight-knit bunch of folks, but we're also one of the most accommodating groups of people you might ever meet. <strong>We are pro-LGBTQIA+, pro-BLM, and opposed to fascism in all its forms.</strong></p>
	<p>If this sounds like your jam, <strong><a>come and say hi</a></strong>. We'd love to meet you!</p>
	<p>And always remember: with us, <strong>the meet never ends</strong>.</p>" }) }}
	<section>
		<header>
			<h2>The Team</h2>
		</header>
		{%- if staff_current %}
			{%- for item in staff_current %}
				{{ sbOrganiser(item) }}
			{%- endfor %}
		{%- endif %}
	</section>
</article>
{% endblock %}