{% extends "_layout.twig" %}

{% block main %}
	{%- if post %}
		{%- if post.thumbnail %}
			<figure>
				<img src="{{ post.thumbnail.src }}" alt="">
				<figcaption>Image credit: {{ dump(function('get_featured_image_copyright')) }} </figcaption>
			</figure>
		{%- endif %}
		<article>
			<h1>{{ post.title }}</h1>
			<p>{{ post.content }}</p>
		</article>
	{%- endif %}
	{%- if upcoming_meets | length > 0 %}
		<section>
			<h2>Upcoming meets</h2>
			{% include "partials/meet-list.twig" with { 'meets': upcoming_meets } %}
		</section>
	{%- endif %}
{% endblock %}