{% extends "_layout.twig" %}

{% from "@components/heading/macro.twig" import sbHeading %}
{% from "@components/subnavigation/macro.twig" import sbSubnavigation %}
{% from "@components/prose/macro.twig" import sbProse %}

{% block main %}
	<article class="sbt-generic">
		<div class="sbt-generic__inner">
			<header class="sbt-generic__header">
				{{ sbHeading({
					hierarchy: 0,
					element: 'h1',
					html: post.title
				}) }}
			</header>
			<div class="sbt-generic__main">
				<div class="sbt-generic__body">
					{{ sbProse({
						html: post.content
					}) }}
				</div>
			</div>
			{%- if subnav %}
				<div class="sbt-generic__subnav">
					{{ sbSubnavigation({
						label: subnavLabel,
						items: subnav.get_items
					}) }}
				</div>
			{%- endif %}
		</div>
	</article>
{% endblock %}