@use "tokens.web" as *;
@use "mixins/typography";
@use "mixins/a11y";
@use "mixins/helpers";
@use "mixins/media";

.sb-button {
	$self: &;
	$triangleSize: 0.7em;
	$triangleOffset: 0.15em;
	@include helpers.button-reset;
	@include typography.all-caps;
	display: inline-block;
	position: relative;
	font-size: $size-small;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	line-height: $lead-title;
	&::after {
		content: "";
		width: $triangleSize;
		height: $triangleSize;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: var(--theme-accent);
		clip-path: polygon(100% 0, 100% 100%, 0 100%);
	}
	&__label {
		display: block;
		padding: 0.75em 1.25em;
		color: var(--theme-accent);
		background-color: var(--theme-accent-mod);
		clip-path: polygon(
			0 0,
			100% 0,
			100% calc(100% - #{$triangleSize + $triangleOffset}),
			calc(100% - #{$triangleSize + $triangleOffset}) 100%,
			0 100%
		);
	}
	// State - Hovered
	&:hover {
		#{$self}__label {
			color: var(--theme-accent-mod);
			background-color: var(--theme-accent);
		}
	}
	// State - Focused
	&:focus {
		@include a11y.focus-ring;
	}
	// State - Disabled
	&:disabled {
		filter: saturate(30%) grayscale(50%);
		pointer-events: none;
		cursor: default;
	}
	// Variant - Elastic
	&--elastic {
		@include media.mq(null, 25em) {
			width: 100%;
		}
	}
}
