<svg 
	class="sb-logo {%- if params.classes %} {{ params.classes }}{% endif %}"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	viewBox="0 0 217.9 16.5"
	role="img"
	aria-labelledby="logo-title"
	preserveAspectRatio="xMidYMid meet"
	xml:space="preserve"
	{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
	
	<title id="logo-title">{{ params.name }}</title>
	
	<symbol id="logo-part-icon" viewBox="0 0 16.56 16.5" preserveAspectRatio="xMidYMid meet">
		<path class="sb-logo__icon" d="M8.3 0C3.7 0 0 3.7 0 8.3c0 1.3.3 2.6.9 3.7L0 16.5l4.5-.9c4.1 2.1 9 .5 11.1-3.6S16.1 3 12 .9C10.9.3 9.6 0 8.3 0z" />
	</symbol>
	<symbol id="logo-part-severn" viewBox="0 0 93.4 16.5">
		<path class="sb-logo__left" d="M9,3.6a6.19,6.19,0,0,0-2.3-.4,3.9,3.9,0,0,0-1.5.3.89.89,0,0,0-.5,1,1.56,1.56,0,0,0,.8,1.3,11.38,11.38,0,0,0,2.4.9c.9.3,1.8.6,2.7,1a4.93,4.93,0,0,1,1.8,1.4,4.3,4.3,0,0,1,.8,2.5,4.64,4.64,0,0,1-.8,2.6,5.33,5.33,0,0,1-2.2,1.7,8.74,8.74,0,0,1-3.2.6,9.89,9.89,0,0,1-3.8-.7A7.91,7.91,0,0,1,0,13.9L1.4,11a9.91,9.91,0,0,0,2.8,1.7,9.33,9.33,0,0,0,2.9.7A3.36,3.36,0,0,0,8.8,13a1.14,1.14,0,0,0,.6-1.2,1.29,1.29,0,0,0-.4-1,2.48,2.48,0,0,0-1.1-.6L6.1,9.6c-.9-.2-1.8-.6-2.7-.9A4.93,4.93,0,0,1,1.6,7.3,3.67,3.67,0,0,1,.9,4.8a4.3,4.3,0,0,1,.8-2.5A6,6,0,0,1,3.8.6,8.74,8.74,0,0,1,7,0a11.19,11.19,0,0,1,3.2.5A10.35,10.35,0,0,1,13,1.8l-1.4,3A21.06,21.06,0,0,0,9,3.6Zm6.4,12.6h12v-3H19V9.7h7.4v-3H19V3.2h8.4V.2h-12Zm32,0h12v-3H50.9V9.7h7.5v-3H50.9V3.2h8.5V.2H50.3l-2.9,4Zm29,0L73,10.9a4.69,4.69,0,0,0,2.2-2A6.07,6.07,0,0,0,76,5.7a4.86,4.86,0,0,0-1.7-4.1A7.63,7.63,0,0,0,69.4.2h-7v16h3.5V11.6h3.9l2.5,4.6ZM65.9,3.2h3.6a3.86,3.86,0,0,1,2.3.7,2.17,2.17,0,0,1,.8,2,2.17,2.17,0,0,1-.8,2,3.34,3.34,0,0,1-2.3.7H65.9Zm23.9,7.3L81.8.2H78.4v16H82V5.9l8,10.3h3.4V.2H89.8ZM30.4,16.2h5l12-16H42.9l-9,12V.2H30.4Z" />
	</symbol>
	<symbol id="logo-part-bronies" viewBox="0 0 103.6 16.5">
		<path class="sb-logo__right" d="M11.88,1.34a3.34,3.34,0,0,1,1.61,2.89,3.43,3.43,0,0,1-.81,2.2,3.87,3.87,0,0,1-2.11,1.3,3.91,3.91,0,0,1,3.42,4A3.78,3.78,0,0,1,12.28,15a7.26,7.26,0,0,1-4.53,1.2H0V.23H7.55A6.9,6.9,0,0,1,11.88,1.34ZM9.06,6.23a1.64,1.64,0,0,0,.6-1.3,1.61,1.61,0,0,0-.6-1.3,2,2,0,0,0-1.61-.4H3.72v3.5H7.45A3.42,3.42,0,0,0,9.06,6.23Zm.4,6.5a1.75,1.75,0,0,0,.81-1.4,1.61,1.61,0,0,0-.81-1.4,3.63,3.63,0,0,0-2.11-.5H3.72v3.8H7.45a3.64,3.64,0,0,0,2-.49Zm16.44,3.5-2.5-4.6H19.5v4.6H16V.23h7a7.73,7.73,0,0,1,4.9,1.4,4.85,4.85,0,0,1,1.7,4.1,6.09,6.09,0,0,1-.8,3.2,4.8,4.8,0,0,1-2.2,2l3.4,5.3Zm-6.4-7.6H23a3.49,3.49,0,0,0,2.4-.7,2.26,2.26,0,0,0,.8-2,2.15,2.15,0,0,0-.8-2,4,4,0,0,0-2.4-.7H19.5Zm24.85-7.4a8,8,0,0,1,3.23,10.84l0,.06a7.66,7.66,0,0,1-3.2,3.2,9.33,9.33,0,0,1-8.6,0,8.12,8.12,0,0,1-3.1-3,8,8,0,0,1,2.68-11h0c.1-.1.2-.1.3-.2a9.22,9.22,0,0,1,8.7.1Zm-6.7,2.7a5.09,5.09,0,0,0-1.8,1.8,5.46,5.46,0,0,0-.7,2.5,4.29,4.29,0,0,0,.7,2.5,4,4,0,0,0,1.8,1.8,5.3,5.3,0,0,0,2.4.7,4.26,4.26,0,0,0,2.4-.7,5,5,0,0,0,1.7-1.8,4.84,4.84,0,0,0,.6-2.6,5.13,5.13,0,0,0-.6-2.5,4.82,4.82,0,0,0-1.7-1.8,4.68,4.68,0,0,0-2.4-.6,4.35,4.35,0,0,0-2.4.71ZM62.5.23l-.1,10.3L54.4.23H51v16h3.6V5.94l8,10.3H66V.23Zm6.5,16h4V.23H69Zm7,0H88v-3H79.5V9.73H87v-3H79.5V3.23H88v-3H76Zm26.1-11.4,1.4-3a9.78,9.78,0,0,0-2.8-1.3A11.19,11.19,0,0,0,97.5,0a7,7,0,0,0-3.3.5A5.33,5.33,0,0,0,92,2.23a3.75,3.75,0,0,0-.8,2.5,4.35,4.35,0,0,0,.8,2.5,6,6,0,0,0,1.8,1.3,15,15,0,0,0,2.7.9l1.8.6a4.11,4.11,0,0,1,1.1.7,1.28,1.28,0,0,1,.4,1,1.44,1.44,0,0,1-.6,1.2,3.36,3.36,0,0,1-1.7.4,9.62,9.62,0,0,1-2.9-.7,10.14,10.14,0,0,1-2.8-1.7l-1.4,2.9a9.54,9.54,0,0,0,3.2,1.9,9.89,9.89,0,0,0,3.8.7,8.74,8.74,0,0,0,3.2-.6,5.33,5.33,0,0,0,2.2-1.7,4.66,4.66,0,0,0,.8-2.6,4.3,4.3,0,0,0-.8-2.5,4.73,4.73,0,0,0-1.8-1.4c-.9-.4-1.8-.7-2.7-1a12.59,12.59,0,0,1-2.4-.9,1.58,1.58,0,0,1-.8-1.3,1,1,0,0,1,.5-1,3.9,3.9,0,0,1,1.5-.3,6,6,0,0,1,2.3.4,13,13,0,0,1,2.7,1.31Z" />
	</symbol>
	
	<use xlink:href="#logo-part-icon" x="0" y="0" width="16.56" height="16.5" />
	<use xlink:href="#logo-part-severn" x="17.89" y="0" width="93.4" height="16.5" />
	<use xlink:href="#logo-part-bronies" x="114.3" y="0" width="103.6" height="16.5" />
</svg>