@use "tokens.web" as tokens;
@use "mixins/layout";
@use "mixins/theme";
@use "mixins/typography";
@use "mixins/media";

.sbt-generic {
	&__inner {
		@include layout.container;
		display: grid;
		grid-column-gap: tokens.$grid-gutter;
		grid-row-gap: tokens.$grid-gutter / 2;
		grid-template-areas: "header" "main" "sidebar";
		grid-template-columns: 1fr;
		@include media.mq(50em) {
			grid-template-columns: 1fr 2fr;
			grid-template-areas: ". header" "sidebar main";
		}
	}
	&__header {
		grid-area: header;
	}
	&__main {
		grid-area: main;
	}
	&__body {
		max-width: tokens.$measure-default;
	}
	&__subnav {
		grid-area: sidebar;
	}
}
