@use "tokens.web" as *;
@use "mixins/layout";
@use "mixins/theme";
@use "mixins/typography";

.sbt-generic {
	&__inner {
		@include layout.container;
	}
	&__header {
		margin-bottom: $grid-gutter / 2;
	}
	&__heading {
		@include typography.heading;
		@include typography.all-caps;
		@include theme.highlight(var(--theme-accent-mod));
		display: inline-block;
		font-size: $size-title;
		color: var(--theme-accent);
	}
	&__body {
		max-width: $measure-default;
	}
	&__sidebar {
	}
}
