@use "tokens.web" as tokens;
@use "mixins/layout";
@use "mixins/theme";
@use "mixins/typography";
@use "mixins/media";

.sb-splash {
	$vertPadding: 6vh;
	margin-top: tokens.$grid-gutter;
	margin-bottom: tokens.$grid-gutter;
	position: relative;
	color: var(--theme-accent-mod);
	background-color: var(--theme-accent);
	&::before,
	&::after {
		@include theme.shade(var(--theme-background));
		content: "";
		width: 85%;
		height: $vertPadding;
		position: absolute;
		z-index: tokens.$layer-default;
	}
	&::before {
		top: 0;
		left: 0;
		clip-path: polygon(0 0, 100% 0, 0 100%);
	}
	&::after {
		bottom: 0;
		right: 0;
		clip-path: polygon(100% 100%, 0 100%, 100% 0);
	}
	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		img {
			height: 100%;
			filter: grayscale(100%);
			mix-blend-mode: multiply;
			@include media.dark-mode {
				mix-blend-mode: soft-light;
			}
		}
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 25rem;
		position: relative;
		padding-top: $vertPadding * 1.5;
		padding-bottom: $vertPadding * 1.5;
	}
	&__inner {
		@include layout.container;
	}
	&__heading {
		@include typography.responsive-size(6vw, tokens.$size-title, 6.1em);
	}
	&__content {
		max-width: tokens.$measure-narrow;
		margin-top: 2rem;
		color: var(--theme-background);
		font-size: tokens.$size-byline;
		a {
			@include theme.default-link();
		}
	}
}
