@use "tokens.web" as tokens;
@use "mixins/layout";
@use "mixins/theme";
@use "mixins/typography";

.sb-splash {
	$clipPadding: 6vh;
	margin-top: tokens.$grid-gutter;
	margin-bottom: tokens.$grid-gutter;
	position: relative;
	color: tokens.$color-primary-light;
	background-color: tokens.$color-primary;
	clip-path: polygon(
		0 #{$clipPadding},
		100% 0,
		100% calc(100% - #{$clipPadding}),
		0 100%
	);
	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		img {
			height: 100%;
		}
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 25rem;
		position: relative;
		padding-top: $clipPadding * 2;
		padding-bottom: $clipPadding * 3;
	}
	&__inner {
		@include layout.container;
	}
	&__heading {
		@include typography.responsive-size(6vw, tokens.$size-title);
	}
	&__content {
		max-width: tokens.$measure-narrow;
		margin-top: 2rem;
		color: tokens.$color-white;
		font-size: tokens.$size-byline;
	}
}
