@use "settings";
@use "helpers/colors";
@use "helpers/layout";
@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/theme";
@use "helpers/typography";

.sb-splash {
	$self: &;
	$heading-overlap: spacing.sb-spacing(9, $breakpoint: medium);
	@include theme.sb-frosted(shade-subtle, $dark: false, $blur: false);
	@include media-queries.sb-dark-mode {
		@include theme.sb-frosted(shade-subtle, $dark: true, $blur: false);
	}
	&__inner {
	}
	&__image {
	}
	&__body {
	}
	&__heading {
		@include spacing.sb-responsive-margin(3, $direction: block-end);
		@include typography.sb-font-stack(heading, $weight: heavy);
		color: colors.sb-color(brand-primary);
		@include media-queries.sb-dark-mode {
			color: colors.sb-color(text-emphasised);
		}
	}
	&__content {
	}
	@include media-queries.sb-mq($to: large) {
		#{$self}__body {
			@include layout.sb-width-container;
			@include spacing.sb-responsive-padding(3, $direction: block);
		}
	}
	@include media-queries.sb-mq($from: large) {
		#{$self}__inner {
			@include layout.sb-width-container;
			@include spacing.sb-responsive-padding(6, $direction: block);
			display: flex;
			flex-direction: row;
			align-items: center;
			border-block-start: settings.$sb-hr-width solid
				colors.sb-color(page-background);
		}
		#{$self}__image {
			order: 2;
			flex: 0 0 60%;
		}
		#{$self}__body {
			@include spacing.sb-responsive-padding(4, $direction: inline-end);
		}
		#{$self}__heading {
			inline-size: calc(100% + #{$heading-overlap});
			position: relative;
			z-index: layout.sb-layer(default);
		}
	}
}
