{% from "@components/splash/macro.twig" import sbSplash %}

{{ sbSplash({
    image: {
        src: '//placeponi.es/1280/800',
        alt: 'A pony, probably.'
    },
    heading: 'The magic of friendship still grows',
    blurb: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nobis necessitatibus blanditiis eum facilis dolor distinctio architecto.</p>"
}) }}
