@use "../helpers/colors";
@use "../helpers/spacing";
@use "../helpers/typography";

//
// HEADINGS
//

.sb-heading-l,
.sb-heading-m,
.sb-heading-s {
	@include typography.sb-font-stack(heading, $weight: bold);
	display: block;
	margin-block: 0;
	color: colors.sb-color(text-emphasised);
}

.sb-heading-l {
	@include typography.sb-font-size(title);
}

.sb-heading-m {
	@include typography.sb-font-size(small-title);
}

.sb-heading-s {
	@include typography.sb-font-size(body-large);
}

//
// SUBHEADINGS
//

.sb-subheading-l,
.sb-subheading-m {
	@include typography.sb-font-stack(heading, $weight: regular);
	display: block;
	margin-block-start: 0;
	color: colors.sb-color(text);
}

.sb-subheading-l {
	@include typography.sb-font-size(subtitle);
}

.sb-subheading-m {
	@include typography.sb-font-size(small-subtitle);
}

//
// BODY
//

.sb-body,
.sb-body-l,
.sb-body-s {
	@include spacing.sb-responsive-margin(4, $direction: block-end);
	margin-block-start: 0;
}

.sb-body {
	@include typography.sb-font-size(body);
}

.sb-body-l {
	@include typography.sb-font-size(body-large);
}

.sb-body-s {
	@include typography.sb-font-size(body-small);
}

//
// SMALL PRINT
//

.sb-small-print {
	@include typography.sb-font-size(small-print);
}
