@use "tokens.web" as tokens;
@use "mixins/layout";
@use "mixins/theme";
@use "mixins/typography";
@use "mixins/media";

.sbt-archive {
	&__inner {
		@include layout.container;
	}
	&__header {
		margin-bottom: tokens.$grid-gutter;
	}
	&__heading {
		@include typography.all-caps;
		@include theme.highlight(var(--theme-accent-mod));
		display: inline;
		color: var(--theme-accent);
		line-height: tokens.$lead-solid;
	}
	&__body {
		margin-bottom: tokens.$grid-gutter;
	}
	&__nav {
	}
}
