@use "tokens.web" as tokens;

.sb-subscription-form {
	&__heading {
		font-size: tokens.$size-byline;
		line-height: tokens.$lead-title;
	}
	&__body {
		margin-top: 1em;
	}
	&__inner {
		max-width: tokens.$measure-narrow;
		margin-top: 1em;
	}
	&__checkbox {
		font-size: tokens.$size-small;
	}
}
