@use "tokens.web" as tokens;
@use "mixins/helpers";
@use "mixins/media";

.sbp-stream-team {
	--theme-background: #9147ff;
	--theme-text: #fff;
	--theme-accent: #fff;
	--theme-accent-mod: #fff;
	padding-bottom: 6em; /* From sb-footer, which is having margin removed below. */
	color: var(--theme-text);
	background-color: var(--theme-background);
	.sb-splash__heading {
		color: var(--theme-background);
	}
	&__inner {
		display: grid;
		grid-column-gap: tokens.$grid-gutter;
		grid-row-gap: tokens.$grid-gutter / 2;
		grid-template-areas: "main" "list" "schedule";
		grid-template-columns: 1fr;
		@include media.mq(50em) {
			grid-template-columns: 1fr 2fr;
			grid-template-rows: auto 1fr;
			grid-template-areas: "list main" "schedule main";
		}
		@include media.mq(75em) {
			grid-template-columns: 1fr 3.75fr;
		}
	}
	&__streamer-list {
		grid-area: list;
	}
	&__schedule {
		grid-area: schedule;
	}
	&__live {
		grid-area: main;
	}
	&__stream {
		margin-bottom: 3rem;
	}
	&__twitch-container,
	&__schedule-container {
		position: relative;
		width: 100%;
		padding-top: 75%;
	}
	&__twitch-embed,
	&__schedule-embed {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	@at-root body.page-template-page-stream-team {
		.sb-footer {
			margin-top: 0;
		}
	}
}
