@use "mixins/theme";
@use "mixins/typography";

.sb-meet-date {
	display: block;
	&__day,
	&__month,
	&__time {
		@include typography.all-caps;
		display: block;
		line-height: 1;
		text-align: center;
		html.js & {
			display: inline-block;
			white-space: nowrap;
		}
	}
	&__day,
	&__month {
		font-weight: 700;
	}
	&__time {
		&::before {
			@include theme.shade(var(--theme-accent-mod));
			content: "";
			display: block;
			width: 100%;
			height: 0.5rem;
			margin-top: 0.25rem;
			margin-bottom: 0.25rem;
		}
	}
	&__day-ord {
		text-transform: lowercase;
	}
}
