@use "settings";
@use "helpers/colors";

.sb-gallery {
	display: grid;
	gap: settings.$sb-gutter;
	grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	&__link {
		display: block;
		position: relative;
		text-decoration: none;
		line-height: 0;
		&::after {
			content: "";
			inline-size: 100%;
			block-size: 100%;
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			box-shadow: inset 0 0 0 0 colors.sb-color(link);
			transition: box-shadow 0.125s linear;
			opacity: 0.69;
		}
		&:hover {
			&::after {
				box-shadow: inset 0 0 0 settings.$sb-hr-width colors.sb-color(link);
			}
		}
	}
	&__image,
	img {
		block-size: 100%;
		min-block-size: 14em;
		max-block-size: 33vh;
	}
}
