@use "settings";
@use "helpers/links";
@use "helpers/reset";
@use "helpers/spacing";
@use "helpers/typography";

.sb-organiser {
	$avatar-width: 4rem;
	$avatar-offset: $avatar-width + spacing.sb-spacing(3);
	@include spacing.sb-responsive-margin(3, $direction: block-end);
	@include spacing.sb-responsive-padding(3, $direction: inline);
	display: flex;
	flex-direction: row;
	align-items: center;
	&__image-container {
		@include spacing.sb-responsive-margin(3, $direction: inline-end);
		flex: 0 0 $avatar-width;
		line-height: 0;
	}
	&__image {
		block-size: $avatar-width;
		inline-size: $avatar-width;
	}
	&__name {
		@include spacing.sb-responsive-margin(3, $direction: inline-end);
		@include typography.sb-font-stack(body, $weight: medium);
	}
	&__more {
		@include reset.sb-reset-button;
		@include links.sb-link-cta($visited-style: false);
		margin-inline-start: auto;
	}
	&__modal-image {
		@include spacing.sb-responsive-margin(3, $direction: inline-start);
		@include spacing.sb-responsive-margin(3, $direction: block-end);
		block-size: $avatar-width * 2;
		inline-size: $avatar-width * 2;
		float: inline-end;
		clear: inline-end;
	}
}
