{% from "@components/organiser/macro.twig" import sbOrganiser %}

{{ sbOrganiser({
	name: 'Kim',
	avatar: '//placeponi.es/300/300',
	biography: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga beatae consequatur animi distinctio eum enim reiciendis ipsum sequi repellat quos recusandae voluptatibus, accusamus, ex rem qui maiores unde, facere. Beatae!</p>
	<p>Ipsum culpa velit animi numquam hic ducimus aliquid quis sed dolore repellendus consectetur delectus placeat commodi facilis quos quia, voluptatibus iure esse consequatur voluptates perferendis corporis, quae quasi voluptas labore?</p>'
}) }}
