@use "tokens.web" as *;
@use "mixins/helpers";
@use "mixins/a11y";
@use "mixins/theme";

.sb-location {
	$self: &;
	& + & {
		margin-top: $grid-gutter / 2;
	}
	&__summary {
		#{$self}--interactive & {
			cursor: pointer;
			#{$self}__name {
				@include theme.default-link--initial(
					var(--theme-accent),
					var(--theme-accent-mod)
				);
			}
			&:hover #{$self}__name {
				@include theme.default-link--active(
					var(--theme-accent),
					var(--theme-accent-mod)
				);
			}
		}
	}
	&__name {
		display: inline;
	}
	&__address {
	}
	&__inner {
		max-width: $measure-default;
		margin-top: 1em;
	}
	&--interactive {
		@include helpers.details-no-arrow;
		> summary:focus {
			@include a11y.focus-ring;
		}
		&[open] {
			#{$self}__name {
				@include theme.default-link--active(
					var(--theme-accent),
					var(--theme-accent-mod)
				);
			}
		}
	}
}
