{% from "@components/location/macro.twig" import sbLocation %}

{{ sbLocation({
    name: 'Starbucks Cabot Circus',
    address: '70 Cabot Circus, Cabot Circus, Bristol BS1 3BQ'
}) }}

{{ sbLocation({
    name: 'Starbucks Cabot Circus',
    address: '70 Cabot Circus, Cabot Circus, Bristol BS1 3BQ',
    travel_info: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    accessibility_info: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi maxime consequatur voluptatum ullam fugit facere placeat consectetur recusandae nesciunt vitae illo blanditiis iure, enim vero perspiciatis corporis minus odio ex.</p>'
}) }}