{% from "@components/footer/macro.twig" import sbFooter %}

{% set legalCopy %}
	&copy;{{ 'now' | date('Y') }} Severn Bronies Ltd. All rights reserved. Severn Bronies Ltd. is a registered company in England and Wales. Company number: 10718261. My Little Pony: Friendship is Magic is &copy; Hasbro. Severn Bronies Ltd. is not affiliated in any way with Hasbro or Studio B/DHX Media. No copyright infringement intended. All copyrights belong to their their respective owners. Website designed and developed by <a href="//berly.kim" rel="noopener noreferrer" target="_blank">Kimberly Grey</a>.
{% endset %}

{{ sbFooter({
	newsletter: {
		show: true,
		heading: 'Stay updated',
		description: '<p>Get our monthly meet update email. No spam, no marketing, just meets.</p>',
		placeholder: 'celestia@canterlot.gov'
	},
	navItems: [
		{ link: '#', title: 'Donate' },
		{ link: '#', title: 'Search' },
		{ link: '#', title: 'Resources' },
		{ link: '#', title: 'Contact us' },
		{ link: '#', title: 'Safer space policy' },
		{ link: '#', title: 'Privacy policy' },
		{ link: '#', title: 'Media policy' }
	],
    legalText: legalCopy
}) }}
