@use "tokens.web" as tokens;
@use "mixins/theme";
@use "mixins/typography";

.sb-meet-card {
	$self: &;
	position: relative;
	border-radius: tokens.$card-border-radius;
	color: tokens.$color-white;
	background-color: tokens.$color-primary;
	text-align: center;
	overflow: hidden;
	&__image {
	}
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
	}
	&__title {
		@include typography.heading;
		font-size: tokens.$size-small-subtitle;
		line-height: tokens.$lead-title;
	}
	&__link {
		@include theme.default-link(
			tokens.$color-white,
			tokens.$color-primary-light
		);
		@include theme.extend-link;
	}
	&__details {
		@include typography.all-caps;
		order: -1;
		margin: 0 0 0.25rem 0;
		font-size: tokens.$size-small;
		font-weight: 700;
		pointer-events: none;
	}
	&__details-item {
		display: inline;
		& + & {
			&::before {
				@include theme.triangle();
				content: "";
				margin-right: 0.25em;
				margin-left: 0.25em;
				opacity: tokens.$color-opacity-tertiary;
			}
		}
	}
	&__details-info {
		display: inline;
		margin: 0;
		opacity: tokens.$color-opacity-secondary;
	}
	&--banner {
		#{$self}__image img {
			height: 30vh;
			min-height: 16rem;
		}
	}
	&--list {
		#{$self}__image img {
			min-height: 12em;
			height: 33vh;
		}
	}
}
