@use "settings";
@use "helpers/colors";
@use "helpers/links";
@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/theme";
@use "helpers/typography";

.sb-meet-card {
	$self: &;
	@include spacing.sb-responsive-margin(6, $direction: block-end);
	&__image {
		display: none;
	}
	&__inner {
	}
	&__body {
	}
	&__title {
		@include spacing.sb-responsive-padding(0);
		@include spacing.sb-responsive-padding(2, $direction: block-end);
		@include typography.sb-font-stack(heading, $weight: heavy);
	}
	&__link {
		@include links.sb-link($underline: false);
	}
	&__location,
	&__date {
		color: colors.sb-color(text-emphasised);
	}
	&__location {
	}
	&__date {
	}
	&__extract {
		@include spacing.sb-responsive-margin(5, $direction: block-start);
		display: none;
	}
	&[data-image] {
		@include theme.sb-shade(colors.sb-color(shade-subtle));
		#{$self}__image {
			display: block;
		}
		#{$self}__inner {
			@include spacing.sb-responsive-padding(4);
		}
		#{$self}__body {
			@include spacing.sb-responsive-padding(4);
			background-color: colors.sb-color(page-background);
		}
		#{$self}__extract {
			display: block;
		}
	}
	@include media-queries.sb-mq($from: large) {
		&[data-image][data-horizontal] {
			display: flex;
			flex-direction: row;
			#{$self}__image {
				flex: 0 0 50%;
				img {
					height: 100%;
					object-fit: cover;
				}
			}
			#{$self}__body {
				height: 100%;
			}
		}
	}
}
