@use "settings";
@use "helpers/colors";
@use "helpers/layout";
@use "helpers/links";
@use "helpers/media-queries";
@use "helpers/reset";
@use "helpers/spacing";
@use "helpers/theme";
@use "helpers/typography";

@use "sass:color";

.sb-modal {
	$self: &;
	display: none;
	&[aria-hidden="false"] {
		display: block;
	}
	// If no JS available, hide controls that open modals
	@at-root html.no-js [data-micromodal-trigger] {
		display: none;
	}
	// Containing element, including the backdrop
	&__overlay {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: fixed;
		inset: 0;
		z-index: layout.sb-layer(modal);
		animation-name: sbModalBackdropFadeIn;
		animation-duration: 0.3333s;
		animation-timing-function: linear;
		background-color: color.change(
			colors.sb-color-raw(page-background, $dark: false),
			$alpha: 0.7
		);
		backdrop-filter: blur(20px);
		@include media-queries.sb-dark-mode {
			background-color: color.change(
				colors.sb-color-raw(page-background, $dark: true),
				$alpha: 0.3
			);
		}
		@include media-queries.sb-mq($from: medium) {
			align-items: center;
		}
	}
	// The modal itself
	&__container {
		position: relative;
		&::before {
			@include theme.sb-shade($color: colors.sb-color(shade-subtle));
			content: "";
			block-size: 100%;
			inline-size: 100%;
			position: absolute;
			inset-block-start: -1rem;
			inset-inline-start: 0;
			@include media-queries.sb-mq($from: medium) {
				inset-block-start: 1rem;
				inset-inline-start: 1rem;
			}
			#{$self}[aria-hidden="false"] & {
				animation-name: sbModalWipeInMobile;
				animation-duration: 0.3333s;
				animation-timing-function: linear;
				@include media-queries.sb-mq($from: medium) {
					animation-name: sbModalWipeIn;
				}
			}
		}
	}
	&__inner {
		position: relative;
		max-block-size: 80vh;
		border-width: 0;
		border-block-start-width: 1px;
		border-style: solid;
		border-color: colors.sb-color(shade-subtle);
		color: colors.sb-color(text);
		background-color: colors.sb-color(page-background);
		overflow-y: auto;
		@include media-queries.sb-mq($from: medium) {
			border-width: 1px;
		}
		#{$self}[aria-hidden="false"] & {
			animation-name: sbModalWipeInMobile;
			animation-duration: 0.3333s;
			animation-timing-function: linear;
			animation-delay: 0.25s;
			animation-fill-mode: both;
			@include media-queries.sb-mq($from: medium) {
				animation-name: sbModalWipeIn;
			}
		}
	}
	&__header {
		@include spacing.sb-responsive-padding(4);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		position: sticky;
		inset-block-start: 0;
		z-index: layout.sb-layer(default);
		background-color: color.change(
			colors.sb-color-raw(page-background, $dark: false),
			$alpha: 0.7
		);
		backdrop-filter: blur(40px);
		@include media-queries.sb-dark-mode {
			background-color: color.change(
				colors.sb-color-raw(page-background, $dark: true),
				$alpha: 0.3
			);
		}
	}
	&__heading {
		@include spacing.sb-responsive-margin(0);
		@include spacing.sb-responsive-margin(3, $direction: inline-end);
		@include typography.sb-font-stack(heading, $weight: bold);
		@include typography.sb-font-size(body-large);
		color: colors.sb-color(text-emphasised);
	}
	&__close {
		@include reset.sb-reset-button;
		@include links.sb-link-cta($visited-style: false);
	}
	&__body {
		@include spacing.sb-responsive-padding(4);
		@include media-queries.sb-mq($from: medium) {
			max-inline-size: 30em;
		}
	}
}

@keyframes sbModalWipeInMobile {
	0% {
		clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
	}
	100% {
		clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
	}
}

@keyframes sbModalWipeIn {
	0% {
		clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
	}
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

@keyframes sbModalBackdropFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
