@use "tokens.web" as tokens;
@use "mixins/layout";
@use "mixins/theme";

.sb-section {
	margin-top: tokens.$grid-gutter * 2;
	margin-bottom: tokens.$grid-gutter * 2;
	&__inner {
	}
	&__header {
		color: var(--theme-accent);
		text-align: center;
		@supports (-webkit-text-stroke-width: 1px) {
			color: transparent;
			text-shadow: 2px 2px var(--theme-accent-mod);
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: var(--theme-accent);
		}
	}
	&__link {
		@include theme.default-link(var(--theme-accent), var(--theme-accent-mod));
	}
	&__body {
		margin-top: 1.5em;
	}
}
