@use "settings";
@use "helpers/colors";
@use "helpers/layout";
@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/links";

.sb-section {
	@include spacing.sb-responsive-margin(9, $direction: block-end);
	&__inner {
		@include layout.sb-width-container;
	}
	&__header {
		@include spacing.sb-responsive-margin(4, $direction: block-end);
		@include media-queries.sb-mq($from: medium) {
			@include spacing.sb-responsive-margin(3, $direction: inline-end);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
	&__heading {
		color: colors.sb-color(text-emphasised);
	}
	&__link {
		@include links.sb-link($visited-style: false, $underline: false);
	}
	&__body {
	}
}
