@use "settings";
@use "helpers/colors";
@use "helpers/layout";
@use "helpers/links";
@use "helpers/media-queries";
@use "helpers/reset";
@use "helpers/spacing";
@use "helpers/theme";
@use "helpers/typography";

.sb-masthead {
	$self: &;
	@include spacing.sb-responsive-margin(3, $direction: block-end);
	@include spacing.sb-responsive-padding(3, $direction: block);
	position: sticky;
	inset-block-start: 0;
	z-index: layout.sb-layer(overlay);
	@include theme.sb-frosted(shade-subtle, $dark: false);
	@include media-queries.sb-dark-mode {
		@include theme.sb-frosted(shade-subtle, $dark: true);
	}
	&__inner {
		@include layout.sb-width-container;
		display: flex;
		flex-direction: column;
		position: relative;
		@include media-queries.sb-mq($from: medium) {
			block-size: 100%;
			flex-direction: row;
			align-items: center;
		}
	}
	&__branding {
		display: block;
		inline-size: 100%;
		max-inline-size: 15rem;
		margin: 0 auto;
		line-height: 0;
		@include media-queries.sb-mq($from: medium) {
			margin-inline-start: 0;
		}
	}
	&__logo {
		&-left,
		&-icon {
			fill: colors.sb-color(logo-severn);
		}
		&-right {
			fill: colors.sb-color(logo-bronies);
		}
	}
	&__nav {
		@include spacing.sb-responsive-margin(3, $direction: block-start);
		@include media-queries.sb-mq($from: medium) {
			@include spacing.sb-responsive-margin(0, $direction: block-start);
		}
	}
	&__nav-list {
		@include reset.sb-reset-list;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: settings.$sb-gutter-half;
	}
	&__nav-link {
		@include links.sb-link($visited-style: false, $underline: false);
		&[aria-current] {
		}
		@include media-queries.sb-mq($from: large) {
			@include typography.sb-font-size(body-large);
		}
	}
}
