@use "tokens.web" as tokens;
@use "mixins/helpers";
@use "mixins/layout";
@use "mixins/theme";
@use "mixins/media";
@use "mixins/a11y";

.sb-masthead {
	$self: &;
	$flipBreakpoint: 40em;
	margin-bottom: tokens.$grid-gutter;
	padding: 1rem 0;
	position: sticky;
	top: 0;
	z-index: tokens.$layer-overlay;
	background-color: var(--theme-background);
	@include media.mq($flipBreakpoint) {
		height: tokens.$masthead-height-desktop;
	}
	&__inner {
		@include layout.container;
		display: flex;
		flex-direction: column;
		position: relative;
		@include media.mq($flipBreakpoint) {
			flex-direction: row;
			align-items: center;
		}
	}
	&__branding {
		display: block;
		width: 100%;
		max-width: 15rem;
		margin: 0 auto;
		line-height: 0;
		@include media.mq($flipBreakpoint) {
			margin-left: 0;
		}
	}
	&__logo {
	}
	&__nav {
		margin-top: 1rem;
		@include media.mq($flipBreakpoint) {
			margin-top: 0;
		}
	}
	&__nav-list {
		@include helpers.list-reset;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1.25rem;
	}
	&__nav-link {
		@include theme.default-link(var(--theme-accent), var(--theme-accent-mod));
		@include media.mq(60em) {
			font-size: tokens.$size-byline;
		}
		&[aria-current] {
			@include theme.default-link(var(--theme-text), var(--theme-accent-mod));
		}
	}
}
