@use "tokens.web" as tokens;
@use "mixins/helpers";
@use "mixins/theme";
@use "mixins/typography";

.sb-map {
	@include theme.shade;
	$gutter: 1em;
	margin-top: $gutter * 2;
	padding: $gutter;
	&__map-container {
		margin-top: 0 - ($gutter * 2);
		margin-bottom: $gutter;
		padding-top: 56.25%;
		position: relative;
	}
	&__map {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: tokens.$size-small;
		counter-reset: locationList;
	}
	&__list-item {
		$pinIconWidth: 28px;
		padding-left: calc(#{$pinIconWidth} + 1em);
		counter-increment: locationList;
		& + & {
			margin-top: 1em;
		}
		&::before {
			// These styles are intended to match those of the custom pins on the Google Map. Don't change these unless you're changing those too.
			@include typography.heading;
			content: counter(locationList);
			display: block;
			width: $pinIconWidth;
			height: 35px;
			margin-left: calc(0px - (#{$pinIconWidth} + 1em));
			padding-top: 6px;
			float: left;
			clear: left;
			color: tokens.$color-white;
			background-image: url("../images/google-map-pin.png");
			background-repeat: no-repeat;
			font-size: 16px;
			text-align: center;
			line-height: 1;
			transition: filter 0.1666s ease;
		}
		&--highlight {
			&::before {
				filter: drop-shadow(0 0 0.25em var(--theme-accent));
			}
		}
	}
	&__list-name {
		margin-bottom: 0.25em;
		color: var(--theme-accent);
	}
	&__list-more {
		@include helpers.button-reset;
		@include typography.all-caps;
		padding: 0.25em 0.5em;
		border: 2px solid var(--theme-accent-mod);
		background-color: var(--theme-background);
		font-size: tokens.$size-small;
		&:hover {
			background-color: var(--theme-accent-mod);
		}
	}
}
