@use "tokens.web" as *;

/**
 * Focus style
 */

@mixin focus-ring {
	outline: 2px solid $color-accessibility;
	outline-offset: 2px;
}

/**
 * Hides text from visible rendering, whilst keeping it accessible to assistive technologies.
 */

@mixin hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
