@use "tokens.web" as tokens;

/**
 * Content container so it doesn't get too wide like.
 */

@mixin container {
	width: 100%;
	max-width: calc(
		#{tokens.$grid-max-width} + env(safe-area-inset-left) + env(safe-area-inset-right)
	);
	margin-right: auto;
	margin-left: auto;
	padding-left: max(1rem, env(safe-area-inset-left));
	padding-right: max(1rem, env(safe-area-inset-right));
}

/**
 * Non overflow-based clearfix for elements that need things to be able to go
 * outside of them.
 */

@mixin clearfix {
	&:before,
	&:after {
		display: table;
		content: " ";
	}
	&:after {
		clear: both;
	}
}
