@use "tokens.web" as tokens;
@use "mixins/helpers";
@use "mixins/media";

.sbp-minecraft {
	--theme-background: hsl(215, 100%, 97%);
	--theme-accent: hsl(215, 100%, 50%);
	--theme-accent-mod: hsl(215, 100%, 70%);
	padding-bottom: 6em; /* From sb-footer, which is having margin removed below. */
	background-color: hsl(215, 100%, 75%);
	background-image: linear-gradient(
		to top,
		hsl(215, 100%, 97%),
		hsl(215, 100%, 85%) 75%
	);
	@include media.dark-mode {
		--theme-background: hsl(236, 37%, 19%);
		--theme-accent: hsl(8, 58%, 70%);
		--theme-accent-mod: hsl(8, 58%, 48%);
		background-color: hsl(236, 37%, 19%);
		background-image: radial-gradient(
			circle at bottom,
			hsl(8, 58%, 48%),
			hsl(236, 37%, 19%) 60%
		);
		background-size: 100vw 100vw;
		background-repeat: no-repeat;
		background-position: bottom center;
	}
	&__playerlist {
		@include helpers.list-reset;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		line-height: 0;
		&-item {
			margin-bottom: 0.25em;
			margin-right: 0.25em;
		}
		&-avatar {
			width: 32px;
			height: 32px;
		}
	}
	&__main {
		max-width: tokens.$measure-default;
		margin-right: auto;
		margin-left: auto;
	}
	&__prose {
	}
	@at-root body.page-template-page-minecraft {
		.sb-footer {
			margin-top: 0;
		}
	}
}
