@use "tokens.web" as tokens;
@use "mixins/typography";

.sb-heading {
	@include typography.heading;
	display: block;
	font-style: normal;
	&--0 {
		@include typography.all-caps;
		font-size: tokens.$size-jumbotron;
		line-height: tokens.$lead-solid;
		letter-spacing: tokens.$tracking-narrow;
	}
	&--1 {
		font-size: tokens.$size-title;
		line-height: tokens.$lead-title;
	}
	&--2 {
		font-size: tokens.$size-subtitle;
		line-height: tokens.$lead-title;
	}
	&--3 {
		font-size: tokens.$size-pullquote;
		line-height: tokens.$lead-title;
	}
	&--4 {
		font-size: tokens.$size-small-subtitle;
		line-height: tokens.$lead-title;
	}
	&--5,
	&--6 {
		@include typography.all-caps;
		line-height: tokens.$lead-solid;
		letter-spacing: tokens.$tracking-wide;
	}
	&--5 {
		font-size: tokens.$size-byline;
	}
	&--6 {
		font-size: tokens.$size-body;
	}
}
