@use "settings";
@use "helpers/colors";
@use "helpers/spacing";
@use "helpers/typography";

.sb-empty {
	@include spacing.sb-responsive-padding(8);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: colors.sb-color(text-emphasised);
	background-color: colors.sb-color(shade-subtle);
	text-align: center;
	&__emoji {
		@include spacing.sb-responsive-padding(4, $direction: block-end);
		@include typography.sb-font-size(title);
	}
	&__body {
	}
}
