{% from "@components/empty/macro.twig" import sbEmpty %}

{{ sbEmpty({
    emoji: '&#xaf;&#x5c;&#x5f;&#x28;&#x30c4;&#x29;&#x5f;&#x2f;&#xaf;',
    content: '<p>There are no upcoming meets to show you.<br>Check back later, just in case we forgot to add them yet.</p>'
}) }}
