@use "settings";
@use "helpers/a11y";
@use "helpers/colors";
@use "helpers/layout";
@use "helpers/reset";
@use "helpers/spacing";
@use "helpers/typography";

.sb-phase-banner {
	$self: &;
	$arrow-width: 0.8rem;
	$arrow-offset: $arrow-width + spacing.sb-spacing(3);
	color: colors.sb-color(text);
	background-color: colors.sb-color(page-background);
	border-block-end: settings.$sb-hr-width solid colors.sb-color(brand-primary);
	&__inner {
		@include layout.sb-width-container;
		#{$self}--interactive & {
			@include reset.sb-reset-details-arrow;
			> summary:focus {
				@include a11y.sb-focus-ring;
			}
			&[open] {
				#{$self}__summary {
					&::before {
						clip-path: polygon(0 0, 100% 0, 50% 100%);
					}
				}
			}
		}
	}
	&__summary {
		@include spacing.sb-responsive-padding(4, $direction: block);
		@include spacing.sb-responsive-padding(4, $direction: inline-end);
		display: inline-block;
		#{$self}--interactive & {
			padding-inline-start: $arrow-offset;
			cursor: pointer;
			&::before {
				content: "";
				display: inline-block;
				width: $arrow-width;
				height: $arrow-width;
				margin-block-start: 0.2rem;
				margin-inline-start: $arrow-offset * -1;
				float: inline-start;
				clear: inline-start;
				background-color: colors.sb-color(text-emphasised);
				clip-path: polygon(0 0, 100% 50%, 0 100%);
			}
		}
	}
	&__summary-heading,
	&__summary-subheading {
		@include typography.sb-font-stack(body, $weight: medium);
		display: block;
	}
	&__summary-heading {
		color: colors.sb-color(text-emphasised);
	}
	&__summary-subheading {
		@include typography.sb-font-weight(body, $weight: regular);
		color: colors.sb-color(text);
	}
	&__body {
		@include spacing.sb-responsive-padding(4, $direction: block-end);
		@include spacing.sb-responsive-padding(4, $direction: inline-end);
		max-inline-size: 34em;
		padding-inline-start: $arrow-offset;
	}
}
