@use "tokens.web" as *;
@use "mixins/layout";
@use "mixins/theme";
@use "mixins/typography";
@use "mixins/media";

.sbt-about {
	$self: &;
	.sb-section__inner {
		@include layout.container;
	}

	// Intro area
	&__intro {
	}
	&__text {
		max-width: $measure-default;
	}

	// Stats
	&__stats {
	}

	// Categories
	&__categories {
		.sb-prose {
			column-width: 22em;
			column-gap: $grid-gutter;
			column-rule: 0.5em solid var(--theme-accent-mod);
			p {
				break-inside: avoid;
			}
		}
	}
}
