@use "tokens.web" as *;
@use "mixins/typography";
@use "mixins/theme";
@use "mixins/media";

.sb-prose {
	@include typography.oldstyle-figures;
	@include typography.force-wrap;
	font-family: $font-body;
	line-height: $lead-default;
	> * + * {
		margin-top: 1.52em;
	}
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include typography.heading;
		color: var(--theme-accent);
		+ * {
			margin-top: 0.86em;
		}
	}
	// TODO: These styles are intended to be aligned with the ones in the
	// Heading component (with added spacing rules). These could probably be
	// abstracted into a mixin or something.
	h1,
	h2 {
		margin-top: 1.95em;
		font-size: $size-subtitle;
		line-height: $lead-title;
	}
	h3 {
		margin-top: 1.72em;
		font-size: $size-pullquote;
		line-height: $lead-title;
	}
	h4 {
		margin-top: 1.52em;
		font-size: $size-small-subtitle;
		line-height: $lead-default;
	}
	h5,
	h6 {
		@include typography.all-caps;
		line-height: $lead-default;
		letter-spacing: $tracking-wide;
	}
	h5 {
		margin-top: 1.34em;
		font-size: $size-byline;
	}
	h6 {
		margin-top: 1.18em;
		font-size: $size-body;
	}
	dl {
	}
	dt {
		font-weight: 700;
	}
	a {
		position: relative;
		z-index: $layer-default;
	}
}
