@use "settings";
@use "helpers/spacing";

@forward "objects/lists";
@forward "objects/typography";

.sb-prose {
	:is(p, dl) {
		@include spacing.sb-responsive-margin(4, $direction: block-end);
		margin-block-start: 0;
		&:last-child {
			margin-block-end: 0;
		}
	}
	// Prose content probably should never contain the H1, but in case it does...
	:is(h1, h2) {
		@include spacing.sb-responsive-margin(8, $direction: block-start);
		@include spacing.sb-responsive-margin(4, $direction: block-end);
		@extend .sb-heading-l;
	}
	h3 {
		@include spacing.sb-responsive-margin(6, $direction: block-start);
		@include spacing.sb-responsive-margin(4, $direction: block-end);
		@extend .sb-heading-m;
	}
	h4 {
		@include spacing.sb-responsive-margin(4, $direction: block-start);
		@include spacing.sb-responsive-margin(2, $direction: block-end);
		@extend .sb-heading-s;
	}
	h5 {
	}
	:is(ol, ul):not([class]) {
		@extend .sb-list;
	}
	ol:not([class]) {
		@extend .sb-list--numbered;
	}
	ul:not([class]) {
		@extend .sb-list--bulleted;
	}
	dt {
		font-weight: bolder;
	}
	abbr {
		cursor: help;
	}
}
